body {
  background-image: url("../media/pink.jpg");
  width: 80%;
  margin: 0 auto;
}

header {
  display: inline;
}

h1 {
  font-size: 3em;
  font-family: 'Gabriela', Arial, serif;
}

header ul {
  list-style-type: none;
  position: relative;
  display: inline;
}

header ul li {
  display: inline;
  text-align: center;
}

header ul li a{
  text-decoration: none;
  color: purple;
  display: inline;
  font-size: 3.5em;
  font-family: 'Tangerine', Arial, serif;
}

strong {
  font-weight: 800;
}

.homepage h2 {
  color: aqua
}

.homepage ul li {
  font-family: Arial, serif;
  color: red;
}

.homepage p {
  font-size: 1.5em;
  font-family: Arial, serif;
}

.homepage main ul {
  background-image: url("../media/background1.jpg");
}

.homepage footer {
  background-color: aquamarine;
}

.respage #dean ul {
  color: gold;
  font-size: 1.5em;
}

.respage ul {
  color: orange;
}

.respage main {
  background-color: gray;
}

.respage #contact {
  font-family: 'Tangerine', Arial, serif;
  font-weight: 500;
}
  