body {
  background-image: url("../media/pink.jpg");
  width: 80%;
  margin: 0 auto;
}

header {
  display: inline;
}

h1 {
  font-size: 3em;
  font-family: 'Gabriela', Arial, serif;
}

header ul {
  list-style-type: none;
  position: relative;
  display: inline;
}

header ul li {
  display: inline;
  text-align: center;
}

header ul li a{
  text-decoration: none;
  color: purple;
  display: inline;
  font-size: 3.5em;
  font-family: 'Tangerine', Arial, serif;
}

.respage ul li {
  font-family: Arial, serif;
  color: green;
}