body {
  background-image: url("../media/background1.jpg");
}

header {
  top:-34px;
  right: 10px;
  color: white;
  display: inline;
}

header ul {
  list-style-type: none;
  position: relative;
  display: inline;
}

header ul li {
  display: inline;
  text-align: center;
}

header ul li a{
  padding: 10px 25px;
  text-decoration: none;
  color: purple;
  display: inline;
  font-size: 3.5em;
  font-family: 'Tangerine', Arial, serif;
}

.respage p {
  color: orange;
}